.welcome {
  background-image: url('../../assets/images/loginBackground.png');
  width: 100%;
  height: 470px;
  background-position: -475px -525px;
  background-size: 140%;
}
.title-container {
  position: relative;
  top: 110px;
  height: 250px;
  width: 890px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
}
.logo {
  margin: 0 auto;
  width: 745px;
}
.title {
  font-family: Raleway;
  font-size: 100px;
  margin-top: 50px;
  font-weight: 200;
  vertical-align: top;
  display: inline-block;
}
.title:hover, .logo-image:hover {
  color: gray;
  cursor: default;
}
.subheading {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  font-style: italic;
  font-size: 25px;
  font-weight: 200;
}
